
<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar-nav">
        {% if cat_selected == 0 %}
          <li class="selected"><h5>Главная </h5></li>
        {% else %}
          <li><a href="{% url 'home' %}">Главная страница</a></li>
        {% endif %}
            {% for i in category %}
              {% if i.pk == cat_selected %}
                <li class="selected"><h5>{{i.title}}</h5></li>
              {% else %}
                <li><a href="{{ i.get_absolute_url }}">{{i.title}}</a></li>
              {% endif %}
            {% endfor %}
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
  