{% extends 'base.html' %}

{% block content %}
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      {% comment %} {% for sub in subcategory %}
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="" alt="">
          </div>
          <div class="shop-body">
            <h3>Laptop<br>Collection</h3>
            <a href="#" class="cta-btn">Показать<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      {% endfor %} {% endcomment %}
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Новинки</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              {% comment %} {% for sub in category %}
                <li><a data-toggle="tab" href="#tab1">{{sub.title}}</a></li>
              {% endfor %} {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
        <div class="col-md-12">
          <div class="row">
            <div class="products-tabs">
              <!-- tab -->
              <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">
                  <!-- product -->
                    {% for cart in product %}
                      {% include 'store/includes/product_tab.html' %}
                    {% endfor %}
                  <!-- /product -->
                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
              </div>
              <!-- /tab -->
            </div>
          </div>
        </div>
      <!-- Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Дней</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Часов</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Минут</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>Секунд</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">Черная пятница возвращается</h2>
          <p>Скидки на все товары до 70%</p>
          <a class="primary-btn cta-btn" href="#">Начни покупать сейчас!</a>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Топ скидок</h3>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab2" class="tab-pane fade in active">
              <div class="products-slick" data-nav="#slick-nav-2">
                <!-- product -->
                {% for cart in top_discount %}
                  {% include 'store/includes/product_tab.html' %}
                {% endfor %}
                <!-- /product -->
              </div>
              <div id="slick-nav-2" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- /Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock  %}